<h1>Property Preview</h1>
<p>File: <%= @import.filename %></p>

<div class="scrollable-container">
    <% @import.imported_properties.each do |property| %>
        <%= render "property_card", property: property, import: @import %>
    <% end %>
</div>

<hr>
<%= link_to 'Add Property', new_property_import_path(@import) %>
<br><br>
<%= link_to 'Submit Final', nil %>