/* Stylesheet for Property Manager */

.scrollable-container {
  max-height: 600px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.unit-container {
  max-height: 200px;
  width: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.units-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
}

.unit-fields {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.unit-delete {
  display: flex;
  flex-direction: column;
  gap: 4px;
}